.divSound0{
    background: #f3ead9;
    border-radius: 10px;
}

.divSound1{
    background: #8eee8e;
    border-radius: 10px;
}

.divSound2{
    background: #63b663;
    border-radius: 10px;
}

.divSound3{
    background: #5a945a;
    border-radius: 10px;
}

.divSound4{
    background: #376e37;
    border-radius: 10px;
}

.divSound5{
    background: #1a571a;
    border-radius: 10px;
}

.divSound6{
    background: #145314;
    border-radius: 10px;
}

.divSound7{
    background: #084608;
    border-radius: 10px;
}

.divSound8{
    background: #063506;
    border-radius: 10px;
}

.divSound9{
    background: #031846;
    border-radius: 10px;
}

.divSound10{
    background: #383633;
    border-radius: 10px;
}

.divSound11{
    background: #232e23;
    border-radius: 10px;
}

.divSound12{
    background: #255825e8;
    border-radius: 10px;
}

.divSound13{
    background: #023a02;
    border-radius: 10px;
}

.divSound14{
    background: #013301;
    border-radius: 10px;
}

.divSound15{
    background: #0d290d;
    border-radius: 10px;
}

.divSound16{
    background: #403c64fd;
    border-radius: 10px;
}

.divSound17{
    background: #1d0653ee;
    border-radius: 10px;
}

.divSound18{
    background: #051b05;
    border-radius: 10px;
}

.divSound19{
    background: #090a0c;
    border-radius: 10px;
}


h1{
    margin-bottom: 0px;
}

.samediv{
    height: 80px;
    border: 1px solid black;
    flex: 1;
}

.musicComp{
    display: flex;
    position: relative;
    z-index: 1;
}

#id{
    border: none;
    font-size: 30px;
    font-weight: bolder;
    padding: 3px 23px;
    background-color: #438cecc4;
    color: #c7d3a6bb;
    padding: 20px 58px;
    margin-top: 12%;
    border-radius: 37px;
    
}

.titlename{
    padding-top: 1px;
    font-family: serif;
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 30px;
    color: #3983f1c4;
}

.visualEffects{
    height: 48%;
    width: 100%;
}

.visualEffects > div {
    position: absolute;
    height: 50px;
    border-radius: 50px;
    width: 50px;
    bottom: 0%;
    left: 20%;   
}

@keyframes jump{
    0%{
        bottom: 0%;
        left: 5%;
    }
    50%{
        bottom: 70%;
        left: 50%;
    }
    100%{
        bottom: 0%;
        left: 75%;
    }
}

.visualEffects > div {
    position: absolute;
    height: 50px;
    border-radius: 50px;
    width: 50px;
    bottom: 0%;
    left: 20%;
}

