.App {
  text-align: center;
  overflow: hidden;
  height: 793px;
  position: relative;
}

@media only screen and (max-height: 610px) {
  .App{
    height: 604px;
  }
}

@media only screen and (min-height: 620px) and (max-height: 650px) {
  .App{
    height: 755px;
  }
}

@media only screen and (min-height: 651px) and (max-height: 670px) {
  .App{
    height: 810px;
  }
}

@media only screen and (min-height: 680px) and (max-height: 720px) {
  .App{
    height: 810px;
  }
}

@media only screen and (min-height: 721px) and (max-height: 737px) {
  .App{
    height: 952px;
  }
}

@media only screen and (min-height: 738px) and (max-height: 810px) {
  .App{
    height: 1133px;
  }
}
@media only screen and (min-height: 811px) and (max-height: 850px) {
  .App{
    height: 1109px;
  }
}

@media only screen and (min-height: 860px) and (max-height: 1030px) {
  .App{
    height: 1288px;
  }
  h1{
    font-size: 80px;
  }
  .samediv{
    height: 100px !important;
  }
}

@media only screen and (min-height: 1035px) and (max-height: 1400px) {
  .App{
    height: 1488px;
  }
  h1{
    font-size: 120px;
  }
  .samediv{
    height: 180px !important;
  }
}